{#
/**
 * @file
 * Display an iframe with alterable components.
 */
#}
{% set vid = url|split('/')|last %}
<iframe{{ attributes }}{% if url is not empty %} src="{{ url ~ '?controls=0&rel=0&autoplay=1&mute=1&loop=1&playlist=' ~ vid }}{% if fragment is not empty %}#{{ fragment }}{% endif %}"{% endif %}></iframe>