{% extends "block.html.twig" %}

{% block content %}
  {% if site_logo %}
    <a class="navbar-brand" href="{{ path('<front>') }}" rel="home">
      <img class="img-fluid p-1"  src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% endif %}
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}