<div{{ attributes.addClass("my-4") }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('text-center') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
