<div id="form-register">
    <form id="user-register-form" class="my-1">
        <div class="container">
            <div class="form-row">
            {{ children }}
            </div>
        </div>  
    </form>
</div>