html,body{
    height: 100%;
    margin: 0;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
main{
    padding-bottom: 50px;
}
.fixed-top{
    top: auto;
}
.bg-primary{
    background-color: transparent !important;
}
header:hover .bg-primary{
    background-color: #FFFFFF !important;
    transition: ease 1s;
}
.nav-link{
    font-family: none;
}

.bg-white{
    background-color: #FFFFFF !important;
}
.nav-link-custom{
    color: #808080 !important; 
}
#main-page-header:hover .navbar-dark .navbar-nav .nav-link{
    color: #808080 ;
}
main .row{
    margin-left: 0px;
    margin-right: 0px;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover,
 .navbar-dark .navbar-nav .nav-link-custom:hover,
 .navbar-dark .navbar-nav .nav-link-custom:focus{
    color: #007bff !important;
}
#block-reachpeopleattherightmoments {
    position: relative;
}
#block-reachpeopleattherightmoments #video-content {
    bottom: 41%;
    color: #ffffff;
    position: absolute;
    z-index: 999;
    left: 18%;
    width: 26%;
}
#block-reachpeopleattherightmoments .btn-warning{
    color: #FFFFFF !important;
}
#block-reachpeopleattherightmoments #video-content h4{
    font-size: 2.5rem;
    font-weight: bold;
}
#block-reachpeopleattherightmoments #video-content p{
    font-size: 1.5rem;
}
#block-views-block-test-block-1 h2{
    font-size: 1.1rem;
    text-align: center;
    margin: 20px auto;
}

#block-exclusivepartnershipswithtoppublishersaroundtheglobe div div img {
    float: left;
    margin: 5px 19px;
    flex-grow: 1;
    flex-basis: 0;
    width: 80%;
}

#block-exclusivepartnershipswithtoppublishersaroundtheglobe > div {
    margin: 0 auto;
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
}


.navbar-expand-lg .navbar-nav .dropdown-menu {
    border-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0;
}

.dropdown-item {
    padding: 20px 30px;
    border-top: 1px solid #cbcdce;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
    font-size: 14px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
      pointer-events: none;
  }


  @media  (min-width: 1001px) and (max-width: 1440px){
    #block-reachpeopleattherightmoments #video-content {
        bottom: 40%;
        color: #ffffff;
        position: absolute;
        z-index: 999;
        left: 18%;
        width: 26%;
    }
    #block-reachpeopleattherightmoments #video-content h4{
        font-size: 1.4rem;
        font-weight: bold;
    }
    #block-reachpeopleattherightmoments #video-content p{
        font-size: 1rem;
    }
  }

  @media   (max-width: 1000px){
    .fixed-top {
        position: initial;
    }
    .bg-primary{
        background-color: #FFFFFF !important;
    }
    .navbar-dark .navbar-nav .nav-link{
        color: #808080 ;
    }
    #block-reachpeopleattherightmoments #video-content {
        bottom: 0;
        color: #ffffff;
        position: absolute;
        z-index: 999;
        left: 0;
        width: 100%;
        margin: auto;
        padding: 17px;
    }
    #block-reachpeopleattherightmoments #video-content h4{
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }
    #block-reachpeopleattherightmoments #video-content p,#block-reachpeopleattherightmoments #video-content a{
        font-size: 0.8rem;
        text-align: center;
    }
  }


  .owl-prev{
    left: 0;
}
.owl-next {
    right: 0;
}
.owl-prev, .owl-next {
    position: absolute;font-family: none;
    color: #676767;
    line-height: 1.8em;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent;
}

.owl-theme .owl-dots {
    text-align: center;
}
.owl-theme .owl-dots span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.owl-theme .owl-dots .active span {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.views-field.views-field-field-logo{
    width: fit-content;
    margin: 0 auto;
    width: -moz-fit-content;
}
#block-sidevideo iframe{
    width: auto;
    border-radius: 30px;
    right: 77px;
    left: auto;
}
#block-views-block-article-block-1 {
    width: 45%;
}
@media (min-width: 768px){
    #block-views-block-article-block-1 footer .btn-block {
        display: block;
        width: 40%;
        border-radius: 31px;
        color: #FFFFFF;
        padding: 11px 0px;
    }
}
@media (max-width:767px) and (min-width: 576px){
    #block-views-block-article-block-1 {
        width: 60%;
        margin: 0 auto;
    }
    #block-sidevideo iframe{
        width: auto;
        border-radius: 30px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}

@media (max-width:575px) and (min-width: 320px){
    #block-views-block-article-block-1 {
        width: 70%;
        margin: 0 auto;
    }
    #block-sidevideo iframe{
        width: auto;
        border-radius: 30px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}


.art-header {
    font-size: 2rem;
    font-family: HelveticaNeueLTStd-Md,sans-serif!important;
    color: #555;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.art-body p, .art-body p a {
    font-size: 16px!important;
    line-height: 1.4!important;
    font-family: HelveticaNeueLTStd-Lt,sans-serif!important;
    color: #555;
}

#main-footer{
    border-top: 1px solid #e3e3e3;
    padding-top: 29px;
}

#footer-first ul {
    display: contents;
    list-style-type: none;
}

#footer-first li a {
    color: #676767;
    padding: 5px 0;
    display: block;
}
#footer-first li {
    font-family: none;
    color: #676767;
}

#footer-second ul {
    display: contents;
    list-style-type: none;
}

#footer-second li a {
    color: #676767;
    padding: 5px 0;
    display: block;
}
#footer-second li {
    font-family: none;
    color: #676767;

}

#footer-third ul {
    display: contents;
    list-style-type: none;
}

#footer-third li a {
    color: #676767;
    padding: 5px 0;
    display: block;
}
#footer-third li {
    font-family: none;
    color: #676767;

}

#footer-fourth ul {
    display: contents;
    list-style-type: none;
}

#footer-fourth li a {
    color: #676767;
    padding: 5px 0;
    display: block;
}
#footer-fourth li {
    font-family: none;
    color: #676767;

}
#footer-first li a:hover ,#footer-second li a:hover ,#footer-third li a:hover ,#footer-fourth li a:hover {
    color: #337ab7;
}

@media (min-width: 576px)
{
    #footer-fifth{
        width: fit-content;
        margin: 0 auto;
    }
}

.dropdown-toggle::after {
    display: none;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
#block-contactus >div{
    max-width: 200px;
}
#block-contactus div a {
    color: #fff!important;
    background-color: #004b7a;
    padding: 13px 0!important;
    text-align: center;
    border-radius: 30px;
}

#block-social{
    margin-top: 20px;
    text-align: center;
    max-width: 200px;

}

ul.social-menu {
    display: inline-block;
    width: auto;
    float: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

li.social-item {
    text-indent: 100%;
    font-family: FontAwesome;
    overflow: hidden;
    width: 31px;
    height: 31px;
    margin: 0 3px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    list-style: none;
    list-style-image: none;
}
#block-social ul li a:after {
    content: "";
    width: 31px;
    height: 31px;
    top: 6px;
    left: -24px;
    color: #fff;
    z-index: 1100;
    line-height: 1;
    background-color: transparent;
    font-family: FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    opacity: 1;
    display: inline-block;
    text-align: center;
}
/*facebook icon*/
.Facebook-item {
    background: #006fff;
}
.Facebook-icon:after {
    content: "\f09a"!important;
}
/*facebook icon*/

/*instgram icon*/
.instgram-item {
    background: #326995;
}
.instgram-icon:after {
    content: "\f16d"!important;
}
/*instgram icon*/

/*instgram icon*/
.linkedin-item {
    background: #127db1;
}
.linkedin-icon:after {
    content: "\f0e1"!important;
}
/*instgram icon*/

/*twitter icon*/
.twitter-item {
    background: #28a1da;
}
.twitter-icon:after {
    content: "\f099"!important;
}
/*twitter icon*/

#main-footer .row{
    margin: 0;
}

#footer-bottom footer .nav .nav-item .nav-link{
    color: #676767;
}

#footer-bottom footer .nav .nav-item .nav-link:hover,#footer-bottom footer .nav .nav-item .nav-link:focus #footer-bottom .nav .nav-item .nav-link{
    color: #337ab7;
    text-decoration: underline;
}
#footer-bottom{
    border-top: 1px solid #e3e3e3;
    margin-top: 30px;
    padding-top: 10px;
}
#form{
    
        padding: 23px 0;
        margin: 32px 0;
        color: white;
        background: #157c96;
        background: -webkit-linear-gradient(to right, #36bddc, #157c96);
        background: linear-gradient(to top, #36bddc, #157c96);
}


#contact-message-feedback-form input[name="name"],
#contact-message-feedback-form input[name="mail"], 
#contact-message-feedback-form input.text-full[type="text"] ,
#user-login-form input[name="name"],
#user-login-form input[name="pass"],
#user-register-form input[name="name"],
#user-register-form input[name="mail"],
#user-register-form select
{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#contact-message-feedback-form textarea.text-full {
    display: block;
    width: 100%;
    height: auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#contact-message-feedback-form .form-item, #contact-message-feedback-form .js-form-wrapper{
    position: relative;
    width: 100%;
    
}
#contact-message-feedback-form .form-row>.form-item, #contact-message-feedback-form .form-row>.js-form-wrapper{
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 1rem;
}
@media (min-width: 768px){
    #contact-message-feedback-form .form-row>.form-item{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    #contact-message-feedback-form .form-row>.js-form-wrapper {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
#contact-message-feedback-form .form-text,#user-login-form .form-text, #user-register-form .form-text{
    margin-top: 0;

}
#contact-message-feedback-form .button, #user-login-form .button,
 #user-register-form .button[name="op"], 
 #user-register-form input.button[name="user_picture_0_remove_button"]{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    position: relative;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#user-register-form input.button[name="user_picture_0_remove_button"]{
    width: auto;
}
#contact-message-feedback-form .button--primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: block;
    width: 100%;
}
/* register and login form  */ 
#user-register-form .button[name="op"], #user-login-form .button{
    color: #fff;
    background: #106fd6;
    box-shadow: 0 0 5px #106fd6;
    display: block;
    width: 100%;
}
#user-register-form input.button[name="user_picture_0_remove_button"]{
    color: #fff;
    box-shadow: 0 0 5px #ff1930;
    color: #fff;
    background-color: #dc3545;
}
#user-register-form ,#user-login-form{
    background: dodgerblue;
    color: #FFFFFF;
    width: 50%;
    margin: auto;
    padding: 30px 12px;
    border-radius: 5px;
}
#user-register-form .form-item, #user-login-form .form-item{
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 1rem;
}

@media (min-width: 768px){.button

    #user-register-form.form-row>.form-item, #user-login-form.form-row>.form-item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
#user-register-form #edit-actions, #user-login-form #edit-actions{
    width: 100%;
}
#user-register-form .description, #user-login-form .description {
    color: #FFFFFF!important;
    display: block;
    margin-top: .25rem;
    font-size: 80%;
    font-weight: 400;
}
#form-register, #form-login{
    margin: 44px 0;
}

#user-register-form input[type="file"]{
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin: 0;
    opacity: unset;
}
#user-register-form .image-widget{
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    background: #ffffff
}
#user-register-form .file-size{
    color: #007bff;
}

#user-register-form input[type="file"]::before {
    content: "choose file...";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#user-register-form input[type="file"]::after {
    content: "Browse";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}
#user-register-form .field--type-image{
    width: 100%;
}
#user-register-form details{
    width: 100%;
    margin-bottom: 10px;
}
#footer-bottom-main{
    border-top: 1px solid #e3e3e3;
    margin-top: 30px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#footer-bottom-main a{
    color: #FFFFFF;
}
#footer-bottom-main .nav-link:hover,#footer-bottom-main .nav-link:focus {
    color: #337ab7;
    text-decoration: underline;
}
/*end of register and login form*/