
  <header id="main-page-header" role="banner" >
     <nav {{attributes}} class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        {{ page.header }}
        </div>
    </nav>
  </header>



  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    
     
        <div class="layout-content">
          {{ page.content }}
        </div>{# /.layout-content #}
        <div class="row justify-content-sm-center row-cols-1 row-cols-sm-1 row-cols-md-2">
          <div class="col" >{{ page.content_left }}</div>
          <div class="col" >{{ page.content_right }}</div>
        </div>
         <div id="form">
          {{ page.form }}
        </div>
        
      
</div>
  </main>
  <div id="main-footer">
<div class="container">
      <div class="row justify-content-center">
          <div class="col-1 col-md-2 col d-none d-md-block"><div id="footer-first">{{ page.footer_first }}</div></div>
          <div class="col-2 col-md-2 col d-none d-md-block"><div id="footer-second">{{ page.footer_second }}</div></div>
          <div class="col-3 col-md-2 col d-none d-md-block"><div id="footer-third">{{ page.footer_third }}</div></div>
          <div class="col-4 col-md-3 col d-none d-md-block"><div id="footer-fourth">{{ page.footer_fourth }}</div></div>
          <div class="col-5 col-md-3"><div id="footer-fifth">{{ page.footer_fifth }}</div></div>
        </div>

    {% if page.footer %}
    <div id="footer-bottom">
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
    </div>
  {% endif %}
</div>
</div>


