
  <header id="" role="banner" >
    <nav {{attributes}} class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        {{ page.header }}
        </div>
    </nav>
  </header>



  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        {% if page.left_sidebar %}
          <aside class="layout-sidebar-first" role="complementary">
            {{ page.left_sidebar }}
          </aside>
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="layout-content">
          {{ page.content }}
        </div>{# /.layout-content #}
      </div>
      <div class="col-md-2">
        {% if page.right_sidebar %}
          <aside class="layout-sidebar-second" role="complementary">
            {{ page.right_sidebar }}
          </aside>
        {% endif %}
      </div>
   
    </div>
</div>
  </main>

  {% if page.footer %}
  <div id="footer-bottom-main" class="bg-dark">
  <div class="container "
      
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
    </div>
    </div>
  {% endif %}
